* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: calc(100vw - 20vw);
    margin: 20% auto;
    display: flex;
    flex-flow: column wrap;
    
    
    .btn {
        width: 150px;
        margin: 2% auto;
        text-align: center;
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #c0392b;
        border: 1px solid #c0392b;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT';
        padding: 10px 15px;
        transition: all 0.5s ease;
        

        &::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 100%;
            background-color: #c0392b;
            z-index: -1;
            transition: all 1s ease;
        }

        &:hover {
            color: #fff;

            &:hover::after {
                width: 100%;

            }

        }

    }
    .btn-1{
        border: 1px solid #ff4757;
        color: #ff4757;

        &::after {
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #ff4757;

        }

        &:hover::after {
            width: 100%;
        }

    } 

    .btn-2 {
        border: 1px solid #ff6348;
        color: #ff6348;

        &::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: #ff6348;

        }

        &:hover::after {
            height: 100%;
        }

    }

    .btn-3 {
       
        color: #70a1ff;
        border: 1px solid #70a1ff;
        position: relative;
       

        &::after {
            position: absolute;
            top: 0;
            right:0 !important;
            content: "";
            width: 0%;
            height: 100%;
            background-color: #70a1ff;
            z-index: -1;
            transition: all 1s ease;
            

        }

        &:hover {
            color: #fff;

            &:hover::after {
               width: 100%;
               }

            }

          


        }

    .btn-4 {
            border: 1px solid #2ed573;
            color: #2ed573;
    
            &::after {
               inset-block-end: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background-color: #2ed573;
    
            }
    
            &:hover::after {
                height: 100%;
            }
    
        }
    }
   